[Desktop Entry]
Type=Application
Name=Cossacks Mod Launcher
GenericName=Cossacks Mod Launcher
Comment=Manage Cossacks 3 mods
Exec=CossacksModLauncher
Icon=mod-launcher
Terminal=false
Categories=Game;Utility;
StartupWMClass=CossacksModLauncher
